.container {
    display: flex;
    background: #ccc;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video {
    width: 60%;
}

.video-player {
    width: 60%;
    position: relative;
    overflow: hidden;
}

.video-player:hover .controls {
    transform: translateY(0);
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 60%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-5px);
    transition: all 0.2s;
}

.buttons {
    padding: 10px;
}

.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button:before {
    content: '\23F5';
    font-family: 'Times New Roman', Times, serif;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
    content: '\23F5';
}

.buttons button.pause:before {
    content: '\23F8';
}

.buttons button.stop:before {
    content: '\23F9';
}

.video-player:hover .progress-bar {
    height: 20px;
}

.progress-bar {
    position: relative;
    height: 5px;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    background: #000;
    cursor: pointer;
}

.timestamp {
    width: 0;
    height: 10px;
    background-color: red;
}

.time {
    font-size: 1em;
    color: white;
    width: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}